<% unless @driver_profile.transport_image_data == nil %>
  <%= image_tag @driver_profile.transport_image_url(:medium), class: 'image', id: 'driver_profile_img' %><br />
<% end %>

<h4>Drivers licence</h4>
<%= @driver_profile.drivers_licence %>
<h4>Transport type</h4>
<%= @driver_profile.transport_type %>
<h4>Driver since</h4>
<%= @driver_profile.created_at %><br />