<% unless @driver_profile.transport_image_data.nil? %>
  <%= image_tag @driver_profile.transport_image_url(:medium), class: 'image', id: 'driver-profile-image' %><br />
<% end %>

<h4>Drivers licence</h4>
<p><%= @driver_profile.drivers_licence %></p>
<h4>Transport type</h4>
<p><%= @driver_profile.transport_type %></p>
<h4>Driver since</h4>
<p><%= @driver_profile.created_at %></p>