<h1>
You have received a new message
</h1>

<p><b>from: </b>
<%= @user.email %>
</p>

<p><b>contact reason: </b>
<%= @contact_reason %>
</p>

<p><b>booking id: </b>
<%= @booking %>
</p>

<p><b>message: </b>
<%= @message %>
</p>