$white: #fefdff;
$off-white: #E4DFDF;
$dark-grey: #333333;

$primary: #247BA0;
$primary-dark: #266E8C;

$header-font: Audiowide, 'Times New Roman', Times, serif;
$content-font: Montserrat, 'Times New Roman', Times, serif;