$white: #fefdff;
$off-white: #E4DFDF;
$dark-grey: #333333;
$medium-grey:#495057;
$light-grey: #868e96;

$primary-light: #1f9cff;
$primary: #247BA0;
$primary-dark: #266E8C;
$secondary: rgb(199, 53, 53);

$light-green: rgb(156, 206, 156);

$logo-font: 'Lobster Two', cursive;
$content-font: Montserrat, sans-serif;