@import '_variables';

#map {
  height: 600px;
  width: 100%;
  background: $off-white;
  // position: absolute;
  // padding-left: -1rem;
  // margin-left: -1rem; 
  // margin-right: -4rem; 
}

.stripe {
  margin: 0;
  padding: 15px 0;
  width: 200px;
}