@import '_variables';

footer {
  min-height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "links links links"
    "social social social"
    "copyr copyr copyr"; 
  justify-items: center;
  align-items: center;
  background-color: $medium-grey;
  h5 {
    color: $light-grey;
  }
  .site-links {
    grid-area: links;
    justify-self: flex-start;
    // align-items: center;
    margin-left: 5%;
    a {
      margin-right: 10px;
      text-decoration: none;
      color: $white;
      font-size: 0.75em;
      transition: color 0.3s ease;
      &:hover {
        color: $primary;
      }
    }
  }
  .social-container {
    grid-area: social;
    margin-left: 5%;
    justify-self: flex-start;
    align-items: center;
    i {
      margin-right: 15px;
      color: $white;
      font-size: 1.25em;
      transition: all 0.4s ease;
      &:visited {
        color: $white;
      }
      &:hover {
        color: $primary;
        transform: scale(1.15);      
      }
    }
  }
  .copyright {
    grid-area: copyr;
    text-align: center;
    color: $off-white;
    font-size: 0.70em;
  }
}

@media only screen and (min-width: 600px) {
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "links social"
    "copyr copyr"; 
    .site-links {
      justify-self: center;
    }
    .social-container {
      justify-self: center;
    }
  }
}