@import '_variables';

html {
  min-width: 300px;
  box-sizing: border-box;
  scroll-behavior: smooth; 
  overflow-y: scroll;
  background-color: $off-white;
}

*, *:before, *:after { box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $content-font;
  color: $dark-grey;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: $content-font;
  color: $primary;
  font-weight: normal;
  margin: 1.33em 0;
}
h1 {
  margin: 0;
  // font-family: $logo-font;
  // font-weight: 400;
  // font-size: 28pt;
  // background: $primary-dark;
  // color: $white;
}

.spacer {
  padding-top: 50px;
}

.flash {
  color: $white;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.19);
  font-size: 0.850em;
}
.flash-success {
  background-color: $light-green;
}
.flash-danger {
  background-color: $secondary;
}
.flash-notice {
  background-color: $light-green;
}

main {
  min-height: 75vh;
  max-width: 900px;
  background-color: $white;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}