@import '_variables';

html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
  overflow-y: scroll;
  background-color: $off-white;
}

*, *:before, *:after { box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $content-font;
  color: $dark-grey;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: $content-font;
  color: $primary;
  font-weight: normal;
  margin: 1.33em 0;
}
h1 {
  margin: 0;
  // background: $primary-dark;
  // color: $white;
}

.flash-success {
  background-color: rgb(105, 209, 105);
  color: $white;
  font-size: small;
}
.flash-danger {
  background-color: rgb(163, 42, 42);
  color: $white;
  font-size: small;
}

main {
  background-color: $white;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}