@media only screen and (min-width: 400px) {
  // passenger show page
  .user-card {
    .driver-info {
      flex-basis: 50%;
      // #user {
      // }
    }
    #driver-profile-info {
      flex-basis: 50%;
    }
  }
}

@media only screen and (min-width: 500px) {
  main {
    padding: 1rem;
  }
  // user role on profile page
  .user-role {
    width: 50% !important;
  }
}

@media only screen and (min-width: 600px) {
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "links social"
    "copyr copyr";
    .site-links {
      justify-self: center;
    }
    .social-container {
      justify-self: center;
    }
  }
}

@media only screen and (min-width: 750px) {
  // booking show page
  .user-card {
    //
    .passenger-info {
      flex-basis: 60%;
    }
    #driver-panel {
      flex-basis: 40%;
    }
  }
}