@import '_variables';

// Home
#home-container {
  font-size: 0.875em;
  #sign-up-banner {
    text-align: center;
    // border: 1px solid $off-white;
    img {
      width: 75%;
      border-radius: 6px;
    }
    .main-button {
      width: 40%;
      min-width: 250px;
      margin: 0 auto;
      margin-top: 10px;
      font-size: 1em;
    }
  }
  article {
    margin-bottom: 45px;
    .content {
      margin-bottom: 15px;
    }
    img {
      margin: 0 auto;
      display: inline-block;
      width: 50%;
      height: 200px;
      border-radius: 6px;
      object-fit: cover;
      &:last-child {
        margin-left: -4px;
      }
    }
    h2 {
      margin: 15px 0;
    }
    p, li {
      margin: 0.5em 0;
    }
    li {
      margin-left: 2em;
    }
  }
}
