@import '_variables';

.profile-top-bar {
  margin: auto 0;
  a {
    text-decoration: none;
    font-size: 11pt;
    color: $primary;
    margin: auto;
    margin-right: 10px;
    &:hover {
      color: $secondary;
    }
  }
}

.new-profile {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  .user-role {
    border: 1px solid $off-white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      display: block;
      width: 100%;
    }
    h2 {
      margin: 10px 0;
      text-align: center;
    }
    .main-button {
      margin: 0;
      width: 100%;
    }
  }
}

#profile-avatar {
  display: block;
  margin: auto;
  margin-top: 15px;
  text-align: center;
}

#profile-car-image {
  display: block;
  margin: auto;
  margin-top: 15px;
}

#driver-profile-image {
  display: block;
  margin: auto;
  margin-top: 15px;
}

