@import '_variables';

.profile-top-bar {
  margin: auto 0;
  a {
    text-decoration: none;
    font-size: 11pt;
    color: $primary;
    margin: auto;
    margin-right: 10px;
    &:hover {
      color: $secondary;
    }
  }
}

#profile-avatar {
  display: block;
  margin: auto;
  border-radius: 50%;
  margin-top: 15px;
  text-align: center;
}

#profile-car-image {
  display: block;
  margin: auto;
  margin-top: 15px;
}

#driver-profile-image {
  display: block;
  margin: auto;
  margin-top: 15px;
}

