<h1>Review</h1>

Reviewee:<br />
<%= @review.reviewee.profile.first_name %><br />
Reviewer:<br />
<%= @review.reviewer.profile.first_name %><br />
Rating:<br />
<%= @review.rating %><br />
Content:<br />
<%= @review.content %><br />
