<footer>
  <div class="social-container">
    <a href="https://www.linkedin.com/in/mark-tice-369570158/" id="linkdin" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/marktice" id="github" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://codepen.io/marktice/" id="codepen" target="_blank"><i class="fab fa-codepen"></i></a>  
  </div>
  <div class="copyright">
    <i class="fas fa-cog fa-spin"></i><span> Designed and constructed by Mark Tice</span>
  </div>
  <a id="up-button" href="#top"><i class="fas fa-arrow-up"></i></a>
</footer>