<header>
  <nav role="navigation">
    <%= render 'layouts/hamburger' %>
    <div id="nav-logo"><%= link_to 'Boot Scoot', root_path %></div>
    <%= link_to profile_path do %>
      <%= image_tag display_avatar(current_user, :thumb), id: "nav-avatar" %>
    <% end %>
  </nav>
</header>